* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
}

header {
    margin: 5%;
}

form {
    display: inline-block;
    width: 100%;
}

div {
    margin: auto;
}

ul {
    list-style-position: outside;
    vertical-align: topgit push;
}

container {
    display: inline-block;
    text-align: left;
}

.formContainer {
    width: 70%;
}

.list-item-content {
    display: inline-block;
    text-align: left;
}